.container{
    padding:40px;
}

h1{
    margin-bottom:20px;
}

.form{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-bottom:30px;
}

.form input{
    padding:10px;
}

.form button{
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

table th{
    background:#2563eb;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    border:1px solid #ddd;
}

.delete{
    background:red;
    color:white;
    border:none;
    padding:8px 12px;
    cursor:pointer;
}